<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Home Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
body {
	/* margin-top: 50px; */
	background-color: #bfd9bf;
	/* background-image: url('/images/background.jpg'); */
}

.glyphicon {
	margin-right: 10px;
}

.panel-body {
	padding: 0px;
}

.panel-body table tr td {
	padding-left: 15px
}

.panel-body .table {
	margin-bottom: 0px;
}
</style>
<body>
<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">JEMHS</a>
			</div>
			<div sec:authorize="hasAuthority('STUDENT')">
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">

					<li class="active"><a th:href="@{/student}"> <span
							class="glyphicon glyphicon-home"></span></a>
				</ul>
			</div>
			</div>
			<div sec:authorize="hasAuthority('FACULTY')">
				<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">

					<li class="active"><a th:href="@{/faculty}"> <span
							class="glyphicon glyphicon-home"></span></a>
				</ul>
			</div>
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/admin}"> <span
								class="glyphicon glyphicon-home"></span></a>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseOne"><span
									class="glyphicon glyphicon-folder-close"> </span>Content</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><span class="glyphicon glyphicon-pencil text-primary"></span><a
											href="#">Articles</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-flash text-success"></span><a
											href="#">News</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-file text-info"></span><a
											href="#">Newsletters</a></td>
									</tr>
									<tr>
										<td><span
											class="glyphicon glyphicon-comment text-success"></span><a
											href="#">Comments</a> <span class="badge">42</span></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseTwo"><span class="glyphicon glyphicon-th">
								</span>Modules</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><a href="#">Orders</a> <span
											class="label label-success">$ 320</span></td>
									</tr>
									<tr>
										<td><a href="#">Invoices</a></td>
									</tr>
									<tr>
										<td><a href="#">Shipments</a></td>
									</tr>
									<tr>
										<td><a href="#">Tex</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseFour"><span class="glyphicon glyphicon-file">
								</span>Reports</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><span class="glyphicon glyphicon-usd"></span><a
											href="#">Sales</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-tasks"></span><a
											href="#">Products</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-shopping-cart"></span><a
											href="#">Shopping Cart</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseThree"><span
									class="glyphicon glyphicon-user"> </span>Account</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><a th:href="@{/changepass}">Change
												Password</a></td>
									</tr>
									<tr>
										<td><a href="#">Notifications</a> <span
											class="label label-info">5</span></td>
									</tr>
									<tr>
										<td><a href="#">Import/Export</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-log-out text-danger"></span><a
											th:href="@{/logout}" class="text-danger"> Logout</a></td>
									</tr>
									<!-- <tr>
										<td><span class="glyphicon glyphicon-trash text-danger"></span><a
											href="#" class="text-danger"> Delete Account</a></td>
									</tr> -->
								</table>
							</div>
						</div>
					</div>
					<div sec:authorize="hasAuthority('ADMIN')">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseFive"><i class="fa fa-users"></i>      Manage</a>
							</h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><span
											class="glyphicon glyphicon-plus-sign text-success"></span><a
													th:href="@{/admin/register}" class="text-success">Add User</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-edit text-primary"></span><a
											href="#" class="text-primary">Modify User</a></td>
									</tr>
									<tr>
										<td><span
											class="glyphicon glyphicon-ban-circle text-warning"></span><a
											href="#" class="text-warning">Disable User</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-trash text-danger"></span><a
											href="#" class="text-danger">Delete User</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="col-sm-9 col-md-9">
				<div class="well well-sm">
					<!-- <div sec:authorize="hasAuthority('STUDENT')">
						<h1 align="center">Student Dashboard</h1>
					</div>
					<div sec:authorize="hasAuthority('FACULTY')">
						<h1 align="center">Faculty Dashboard</h1>
					</div> -->
					<!-- <div sec:authorize="hasAuthority('ADMIN')"> -->
						<h4 align="center">Change Password</h4>
					<!-- </div> -->
				</div>
				<div class="col-sm-9 col-md-9">
				<form autocomplete="off" th:action="@{/changepassword}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<input type="hidden" name="username" th:value=${userName}>
					
					<div class="form-group">
							<label for="userName" class="col-md-3 control-label">User name</label>
							<div class="col-md-9">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input type="text"
										class="form-control" name="userName" required="required"
										placeholder="Username">
								</div>
							</div>
						</div>
					
				<div class="form-group">
							<label for="password" class="col-md-3 control-label">Old Password</label>
							<div class="col-md-9">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input type="password"
										class="form-control" name="password" required="required"
										placeholder="Old Password">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="newPassword" class="col-md-3 control-label">New Password</label>
							<div class="col-md-9">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span> <input type="password"
										class="form-control" name="newPassword" required="required"
										placeholder="New Password">
								</div>
							</div>
							</div>


					<div class="form-group">
						<div class="col-sm-9 col-md-offset-3">
							<button type="submit" class="btn btn-primary btn-block">Change Password</button>
						</div>
					</div>

				<!-- 	<span th:utext="${message}"></span> -->


				</form>
						<div th:if="${successMessage}"
									class="alert alert-success alert-dismissible form-feedback"
									role="alert">
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div th:text=${successMessage}></div>
								</div>
								<div th:if="${errorMessage}"
									class="alert alert-danger alert-dismissible form-feedback"
									role="alert">
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div th:text=${errorMessage}></div>
								</div>
					</div>
					
				</div>
			</div>
		</div>

	<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-text pull-left">© 2017 - Site Built By Mr. Kadiyala.
          <!--  <a href="http://tinyurl.com/tbvalid" target="_blank" >HTML 5 Validation</a> -->
      </div>
      <div class="navbar-text pull-right"><ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook icon" title="Facebook"><i class="fa fa-facebook" ></i></a></li>
                        <li><a href="#" class="icoTwitter icon" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle icon" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin icon" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>	
      </div>
    </div>
  </div>
</body>
</html>

