<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Home Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
	/* margin-top: 50px; */
	background-color: #bfd9bf;
	/* background-image: url('/images/background.jpg'); */
}

.glyphicon {
	margin-right: 10px;
}

.panel-body {
	padding: 0px;
}

.panel-body table tr td {
	padding-left: 15px
}

.panel-body .table {
	margin-bottom: 0px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">JEMHS</a>
			</div>
			<div sec:authorize="hasAuthority('STUDENT')">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">

						<li class="active"><a th:href="@{/student}"> <span
								class="glyphicon glyphicon-home"></span></a>
					</ul>
				</div>
			</div>
			<div sec:authorize="hasAuthority('FACULTY')">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">

						<li class="active"><a th:href="@{/faculty}"> <span
								class="glyphicon glyphicon-home"></span></a>
					</ul>
				</div>
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/admin}"> <span
								class="glyphicon glyphicon-home"></span></a>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseOne"><span
									class="glyphicon glyphicon-folder-close"> </span>Content</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><span class="glyphicon glyphicon-pencil text-primary"></span><a
											href="#">Articles</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-flash text-success"></span><a
											href="#">News</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-file text-info"></span><a
											th:href="@{/fileupload}">WorkDocs</a></td>
									</tr>
									<tr>
										<td><span
											class="glyphicon glyphicon-comment text-success"></span><a
											href="#">Comments</a> <span class="badge">42</span></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseTwo"><span class="glyphicon glyphicon-th">
								</span>Modules</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><a href="#">Orders</a> <span
											class="label label-success">$ 320</span></td>
									</tr>
									<tr>
										<td><a href="#">Invoices</a></td>
									</tr>
									<tr>
										<td><a href="#">Shipments</a></td>
									</tr>
									<tr>
										<td><a href="#">Tex</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseFour"><span class="glyphicon glyphicon-file">
								</span>Reports</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><span class="glyphicon glyphicon-usd"></span><a
											href="#">Sales</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-tasks"></span><a
											href="#">Products</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-shopping-cart"></span><a
											href="#">Shopping Cart</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseThree"><span
									class="glyphicon glyphicon-user"> </span>Account</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<table class="table">
									<tr>
										<td><a th:href="@{/changepass}">Change Password</a></td>
									</tr>
									<tr>
										<td><a href="#">Notifications</a> <span
											class="label label-info">5</span></td>
									</tr>
									<tr>
										<td><a href="#">Import/Export</a></td>
									</tr>
									<tr>
										<td><span class="glyphicon glyphicon-log-out text-danger"></span><a
											th:href="@{/logout}" class="text-danger"> Logout</a></td>
									</tr>
									<!-- <tr>
										<td><span class="glyphicon glyphicon-trash text-danger"></span><a
											href="#" class="text-danger"> Delete Account</a></td>
									</tr> -->
								</table>
							</div>
						</div>
					</div>
					<div sec:authorize="hasAuthority('ADMIN')">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapseFive"><i class="fa fa-users"></i> Manage</a>
								</h4>
							</div>
							<div id="collapseFive" class="panel-collapse collapse">
								<div class="panel-body">
									<table class="table">
										<tr>
											<td><span
												class="glyphicon glyphicon-plus-sign text-success"></span><a
												th:href="@{/admin/register}">Add User</a></td>
										</tr>
										<tr>
											<td><span class="glyphicon glyphicon-edit text-primary"></span><a
												href="#" class="text-primary">Modify User</a></td>
										</tr>
										<tr>
											<td><span
												class="glyphicon glyphicon-ban-circle text-warning"></span><a
												href="#" class="text-warning">Disable User</a></td>
										</tr>
										<tr>
											<td><span class="glyphicon glyphicon-trash text-danger"></span><a
												href="#" class="text-danger">Delete User</a></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-9 col-md-9">
				<div class="well well-sm">
					<div sec:authorize="hasAuthority('STUDENT')">
						<h1 align="center">Student Dashboard</h1>
					</div>
					<div sec:authorize="hasAuthority('FACULTY')">
						<h1 align="center">Faculty Dashboard</h1>
					</div>
					<div sec:authorize="hasAuthority('ADMIN')">
						<h1 align="center">Admin Dashboard</h1>
					</div>
				</div>
				<div class="panel-group" style="margin-top: 40px">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span th:utext="${userName}"></span>
						</div>
						<div></div>
						<div class="panel-body">

							<div sec:authorize="hasAuthority('STUDENT')">
								<img th:src="@{/images/student.jpg}"
									class="img-responsive center-block" width="600" height="600"
									alt="Student" />
							</div>

							<div sec:authorize="hasAuthority('FACULTY')">
								<img th:src="@{/images/faculty.jpg}"
									class="img-responsive center-block" width="600" height="600"
									alt="Faculty" />
							</div>

							<div sec:authorize="hasAuthority('ADMIN')">
								<img th:src="@{/images/admin.jpg}"
									class="img-responsive center-block" width="600" height="600"
									alt="Admin" />
							</div>

						</div>
						<p class="admin-message-text text-center" th:utext="${message}"></p>

					</div>
					Logged user: <span sec:authentication="name" style="color: red">Bob</span>
					Roles: <span sec:authentication="principal.authorities">[ROLE_USER,ROLE_ADMIN]</span>
				</div>
			</div>
		</div>
	</div>

	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<div class="navbar-text pull-left">
				© 2017 - Site Built By Mr. Kadiyala.
				<!--  <a href="http://tinyurl.com/tbvalid" target="_blank" >HTML 5 Validation</a> -->
			</div>
			<div class="navbar-text pull-right">
				<ul class="social-network social-circle">
					<li><a href="#" class="icoFacebook icon" title="Facebook"><i
							class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="icoTwitter icon" title="Twitter"><i
							class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icoGoogle icon" title="Google +"><i
							class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="icoLinkedin icon" title="Linkedin"><i
							class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>

